/* * {
  outline: 1px solid red;
} */

@font-face {
  font-family: "Akzidenz";
  src: url("fonts/AkzidenzGrotesk-ExtraBoldCond.otf") format("opentype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 8rem;
  /* font-family: "Coco"; */
  font-family: "Akzidenz";
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
